<footer class="footer">

<div class="container footer_col">
<div class="footer_col_item">
<div class="logo"><a href="/index.html"><img src="" alt="">{{ site.title | escape }}</a></div>
</div>
<div class="footer_col_item">
<div>
    Блок #2 
    текст текст текст текст текст текст текст текст текст
    текст текст текст текст текст текст текст текст текст
    текст текст текст текст текст текст текст текст текст
</div>
</div>
<div class="footer_col_item">
<p>{{ site.description | escape }}</p>
</div>
</div>

</footer>