---
---

@charset "utf-8"
@import 'reset.sass', '_native.sass'

// color

// #1e383c
// #47646f
// #8ea6b2
// #c3ccd3
// #f6f8fa


body
	background-color: #f4f6f6
	min-height: 100vh
	font-family: 'Play', sans-serif
	width: 100%
	height: 100vh
	color: #193441

// FOOTER

.footer
	margin-top: 15%
	color: #c3ccd3
	background:  #516373
	text-align: center
	padding: 50px
	&_col
		display: flex
		justify-content: space-between
		padding: 0 20px
		align-items: center
		&_item
			display: block
			width: 450px
			height: 100%

header
    display: flex
    color: #BACDD9
    justify-content: space-between
    align-items: center
    padding: 20px 70px
    background-color: #516373
    a
	    color: #BACDD9
	    &:visited 
	        color: #BACDD9
	    &:hover
	        color: #DCEAF2

a 
	color: #1e383c
	text-decoration: none
	&:visited 
		color: #47646f
	&:hover
		color: #8ea6b2

// Статьи на главной 
.post-item
	background: #ffffff
	width: 820px
	height: 100%
	margin: 10px auto
	border-radius: 5px
	border: 1px solid #eee
	&_content
        padding: 10px 20px 

// PAGES
.post
	background: #ffffff
	display:block
	margin: 20px auto
	width: 820px
	padding: 20px
	border: 1px solid #eee


// POSTS

.post-item__data
	display: block
	font-size: 12px
	margin: 10px


.post-item_content
	img
		width: 100%
        
// TITLE POST

.post-link
	font-size: 26px
	font-weight: 400


// IMG COVER

.post_image_cover
	width: 100%
	height: 350px
	display: block
	background-size: cover
	background-position: center
	// filter: opacity(30%)
	&:hover
		filter: opacity(30%)

// ДАЛЕЕ
.excerpt-post-link
	padding: 2px
	border-radius: 5px
	color: #ffffff
    
    
.highlight
    border: 1px solid #DFDFDF
